.offers-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  &__item {
    width: 100%;
    max-width: 50.045%;
    border-right: 1.2px solid $lt-grey;
    &:nth-child(even) {
      margin-left: auto;
      border-right: none;
      padding-left: 30px;
      border-left: 0.75px solid $lt-grey;
      .offers-list__item-header {
        // padding-top: 21px;
        // padding-bottom: 18px;
        padding-right: 0;
      }
      .offers-list__item-body {
        // padding-top: 20px;
      }
    }
  }

  &__item-header {
    width: 100%;
    padding-top: 33.75px;
    padding-right: 30px;
    padding-bottom: 24px;
    border-bottom: 0.75px solid $lt-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      .offers-list__item-link {
        transform: rotate(45deg);
      }
    }
  }

  &__item-heading {
    max-width: 294px;
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 27px */
    letter-spacing: -0.27px;
  }
  &__item-link {
    transform: rotate(0deg);
    transition: $defaultTransitionTime;

    svg {
      width: 15.75px;
      height: 15.75px;
    }
  }

  &__item-body {
    width: 100%;
    padding-top: 20px;
  }

  &__item-text {
    max-width: 318px;
    color: $black;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 18.15px */
    letter-spacing: -0.495px;
  }

  @media (max-width: 1280px) {
    &__item {
      &:nth-child(even) {
        padding-left: 33px;
      }
    }
    &__item-header {
      // padding-top: 61px;
      // padding-right: 24px;
      // padding-bottom: 32px;
    }
    &__item-heading {
      // font-size: 36px;
      // font-weight: 700;
      // line-height: 100%;
      // letter-spacing: -0.36px;
    }
    &__item-body {
      padding-top: 32px;
      padding-right: 0;
    }
    &__item-text {
      max-width: 95%;
      // font-size: 22px;
      // font-style: normal;
      // font-weight: 400;
      // line-height: 110%;
      // letter-spacing: -0.66px;
    }
    &__item-link {
      svg {
        // width: 21px;
        // height: 21px;
      }
    }
  }

  @media (max-width: 920px) {
    &__item {
      &-header {
        padding-top: 0;
        padding-right: 43px;
        padding-bottom: 32px;
      }
    }
  }

  @media (max-width: 675px) {
    gap: 32px;
    &__item {
      border: none;
      max-width: unset;
      &:nth-child(even) {
        border: none;
        padding: 0;
      }
      &-header {
        padding: 0;
        padding-bottom: 16px;
        border-top: none;
      }
      &-heading {
        font-size: 20px;
        letter-spacing: -0.2px;
      }
      &-link {
        width: 16px;
        height: 16px;
        svg {
          width: 16px;
          height: 16px;
        }
      }
      &-body {
        padding-top: 16px;
      }
      &-text {
        font-size: 16px;
        letter-spacing: -0.48px;
      }
    }
  }
}
