.subheading {
  color: $black;
  leading-trim: both;
  text-edge: cap;
  font-family: $mainFont;
  font-size: 28.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 28.5px */
  letter-spacing: -0.57px;
  text-transform: uppercase;
  @media (max-width: 675px) {
    font-size: 24px;
    letter-spacing: -0.48px;
  }
  @media (max-width: 475px) {
    font-size: 24px;
    letter-spacing: -0.48px;
  }
}
