.footer {
  width: 100%;
  background-color: $black;
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    padding-top: 90px;
  }

  &__col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    &--split {
      max-width: 226px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      column-gap: 90px;
      row-gap: 51px;
    }
  }

  &__nav {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
  }

  &__nav-link {
    color: $white;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.8px */
    text-transform: capitalize;
    @include dash($white);
  }

  &__link {
    display: block;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    gap: 12px;
    color: $white;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.8px */
    text-transform: capitalize;

    cursor: pointer;
    &:hover {
      .footer__link-icon {
        transform: translateY(-6px);
      }
    }
  }

  &__link-icon {
    transition: $defaultTransitionTime;
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__copyrights-link {
    width: 100%;
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
    color: #d4d4d4;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.8px */
    text-transform: capitalize;
  }

  &__row {
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__row-heading {
    color: #d4d4d4;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16.5px */
    letter-spacing: -0.33px;
  }

  &__row-text {
    color: $white;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.8px */
  }

  &__copy-group {
    margin-top: 139px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 8px;
  }

  &__copy-link {
    color: #707070;
    font-family: $mainFont;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 12.6px */
  }
  &__btn {
    margin-top: 53.75px;
  }
  &__mobile-wrapper {
    display: none;
  }

  &__mobile-top,
  &__mobile-middle,
  &__mobile-bottom {
    display: none;
  }

  &__mobile-top {
    width: 100%;
    margin-bottom: 88px;
  }

  &__mobile-wrapper {
  }

  &__mobile-top-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }

  &__mobile-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 118px;
    row-gap: 78px;
  }

  &__mobile-group-item {
    max-width: 207px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
  }

  &__mobile-group-item-heading {
    color: #707070;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }

  &__mobile-link {
    color: $white;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 24.2px */
  }

  &__mobile-col {
    display: flex;
    flex-direction: column;
    gap: 66px;
    align-items: start;
    justify-content: start;
  }

  &__mobile-col-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 32px;
  }

  &__mobile-link--bold {
    font-weight: bold;
  }

  &__mobile-link--icon {
    display: flex;
    align-items: center;
    gap: 13.36px;
  }

  &__mobile-middle {
    width: 100%;
    margin-bottom: 48px;
  }
  &__mobile-middle-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__mobile-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__mobile-nav-link {
    color: $white;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  &__mobile-up-link {
    margin-right: 86px;
    color: $white;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
  }

  &__link-icon {
    svg {
      width: 15px;
      height: 15px;
    }
  }

  &__mobile-bottom {
    width: 100%;
  }
  &__mobile-bottom-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 37px;
  }

  &__mobile-btn {
  }

  &__mobile-copyrights {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__mobile-copyrights-link {
    color: #707070;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
  }

  @media (max-width: 1024px) {
    padding-top: 64px;
    padding-bottom: 73px;

    &__wrapper {
      display: none;
    }
    &__mobile-wrapper {
      display: flex;
    }
    &__mobile-top,
    &__mobile-middle,
    &__mobile-bottom {
      display: block;
    }
  }
  @media (max-width: 920px) {
    &__mobile-top-wrapper {
      padding: 0 34px;
      max-width: 768px + 64px;
    }
    &__mobile-group {
      column-gap: 54px;
      row-gap: 78px;
      &-item {
        max-width: 150px;
      }
    }
  }

  @media (max-width: 675px) {
    position: relative;
    padding-top: 71px;
    padding-bottom: 95px;
    &__mobile-middle {
      margin-bottom: 71.53px;
    }
    &__mobile-middle-wrapper {
      max-width: 569px;
      padding: 0px 21px;
    }
    &__mobile-top-wrapper {
      max-width: 569px;
      padding: 0px 21px;
      flex-direction: column-reverse;
      gap: 77px;
    }
    &__mobile-bottom-wrapper {
      max-width: 569px;
      padding: 0px 21px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 73px;
    }
    &__mobile-col {
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      padding-right: 71px;
      gap: 16px;
      &-item {
        gap: 31px;
      }
    }
    &__mobile-group {
      width: 100%;
      grid-template-columns: 141px 169px;
      justify-content: space-between;
      padding-right: 71px;
    }
    &__mobile-up-link {
      position: absolute;
      right: 20px;
      margin: 0;
      bottom: 95px;
    }
    &__mobile-nav {
      width: 100%;
      max-width: unset;
      row-gap: 24.43px;
      align-content: space-between;
      max-height: 135px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      &-link {
        &:last-child {
          max-width: 239px;
        }
      }
    }
    &__mobile-copyrights {
      max-width: 240px;
      gap: 14px;
    }
  }
  @media (max-width: 525px) {
    padding-top: 46px;
    padding-bottom: 62px;
    &__mobile-top-wrapper {
      gap: 48px;
    }
    &__mobile-col {
      padding-right: 34px;
    }
    &__mobile-tel-link.tel-link,
    &__mobile-mail-link.mail-link {
      font-size: 16px;
      line-height: 110%;
    }
    &__mobile-middle {
      margin-bottom: 48px;
    }
    &__mobile-link {
      font-size: 16px;
      line-height: 110%;
    }
    &__mobile-group {
      grid-template-columns: 141px 160px;
      gap: 32px;

      padding-right: 0;
    }
    &__mobile-group-item-heading {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 15.4px */
    }
    &__mobile-nav {
      gap: 16px;
      max-height: 100px;
    }
    &__mobile-nav-link {
      font-size: 16px;
      line-height: 120%;
      &:last-child {
        max-width: 158px;
      }
    }
    &__mobile-btn {
      max-width: 246px;
    }
    &__mobile-up-link {
      font-size: 14px;
    }
    &__link-icon {
      gap: 12px;
      width: 17px;
      height: 17px;
      svg {
        width: 17px;
        height: 17px;
      }
    }
  }
}
