.logo {
  width: 54px;
  height: 42px;
  svg {
    width: 54px;
    height: 42px;
  }
  @media (max-width: 1280p) {
    width: 72px;
    height: 56px;
    svg {
      width: 72px;
      height: 56px;
    }
  }
}
