.popup {
  margin: auto;
  width: 100%;
  max-width: 824px;
  padding: 90px 152px 92px;
  border-radius: 24px;
  background: $black;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: $defaultTransitionTime;
  background-image: url('../../assets/svg/line-1.svg'),
    url('../../assets/svg/line-2.svg'), url('../../assets/svg/line-3.svg'),
    url('../../assets/svg/Kirill.svg');
  background-repeat: no-repeat;
  background-size: 552px 308px, 552px 308px, 552px 308px, 106px 56px;
  background-position: left 21px top -33px, right -97px bottom 89px,
    left -57px bottom -18px, top 214px right 46px;

  &__heading {
    max-width: 520px;
    margin-bottom: 32px;
    color: $lt-grey;
    text-align: center;
    font-family: $mainFont;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    span {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 168px;
        height: 71px;
        left: -12px;
        top: -1px;
        z-index: -1;
        background-image: url('../../assets/svg/green-frame.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    .form__input {
      border-radius: 34px;
      border: 1px solid $lt-grey;
      background: $black;
      color: $white;
    }
    .form__btn {
      width: 100%;
    }
    .form__subtext {
      text-align: center;
      color: #8e8e8e;
      text-align: center;
      font-family: $mainFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 17.6px */
    }
  }
  @media (max-width: 1280px) {
    max-width: 720px;
    padding: 48px 80px 39px;
    &__heading {
      margin: 0 auto;
      font-size: 32px;
      margin-bottom: 24px;
      span {
        &::after {
          width: 110px;
          height: 48px;
          left: -8px;
          top: -1px;
        }
      }
    }
    .form {
      max-width: 320px;
    }

    .form__subtext {
      max-width: 319px;
      margin: 0 auto;
    }
    .form__btn {
      max-width: unset;
    }
    .form__input {
      height: 48px;
      font-size: 16px;
    }
  }

  @media (max-width: 1024px) {
    max-width: 596px;
    background-position: left -103px top -33px, right -102px bottom 89px,
      left -57px bottom -18px, top 124px right 24px;
  }

  @media (max-width: 675px) {
    max-width: 440px;
    padding-top: 52px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 40px;
    background-position: left -131px top -55px, right -246px bottom -46px,
      left -160px bottom -18px, top 62px right 37px;
    background-size: 552px 308px, 552px 308px, 552px 308px, 60px 32px;
    &__heading {
      font-size: 20px;
      margin-bottom: 24px;
      span {
        &::after {
          width: 70px;
          height: 30px;
          left: -7px;
          top: -1px;
        }
      }
    }
    .form__subtext {
      font-size: 12px;
      line-height: 110%;
      max-width: 225px;
    }
  }
}
