.subheading {
  color: $black;
  leading-trim: both;
  text-edge: cap;
  font-family: $mainFont;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.76px;
  text-transform: uppercase;
}
