.wrapper {
  width: 100%;
  height: 100%;
  max-width: $wrapperWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 0px 15px;
}
