.about-section {
  &__wrapper {
  }

  &__content {
    @extend .project-section__content;
    border-top: 0.9px $lt-grey solid;
  }

  &__sidebar {
    @extend .project-section__sidebar;
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__grid-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__grid-block {
    width: 100%;
    max-width: 468.75px;
    padding: 30px;
    border-left: 0.9px solid $lt-grey;
    border-bottom: 0.9px solid $lt-grey;
  }

  &__grid-block-text {
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    span {
      color: $blue;
      cursor: pointer;
      transition: $defaultTransitionTime;
      text-decoration: underline;
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: $blue;
      }
    }
  }

  &__grid-block-img {
    width: 100%;
    max-width: 410.25px;
    height: 315px;
    object-fit: cover;
    object-position: center;
  }

  &__grid-block-body {
    width: 100%;
    margin-top: 18.75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__grid-block-heading {
    color: $black;
    text-align: justify;
    font-family: $mainFont;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }

  &__grid-block-subheading {
    color: #979797;
    text-align: right;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }

  @media (max-width: 1024px) {
    &__sidebar {
      display: none;
    }
    &__content {
      border: none;
    }
    &__grid {
      border-top: 1.2px solid $lt-grey;
    }
    &__grid-block {
      max-width: unset;
      border: none;
      padding: 40px 9px;
      border-bottom: 1.2px solid $lt-grey;
      &:nth-child(odd) {
        padding-left: 0;
      }
      &:nth-child(even) {
        padding-right: 0;
      }
    }
    &__grid-block-img {
      max-width: 468px;
      height: 420px;
    }
    &__grid-block-text {
      max-width: 436px;
    }
  }

  @media (max-width: 768px) {
    &__grid {
    }
    &__grid-block-text {
      max-width: 331px;
      font-size: 20px;
    }
    &__grid-block-img {
      max-width: 352px;
      height: 316px;
    }
    &__grid-row {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 18px;
    }
    &__grid-block-heading {
      font-size: 24px;
    }
    &__grid-block-body {
      margin-top: 16px;
    }
    &__grid-block-subheading {
      font-size: 16px;
    }
  }

  @media (max-width: 568px) {
    &__grid {
      padding-top: 40px;
      grid-template-rows: auto auto auto auto auto auto auto auto;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      &-block {
        border: none;
        padding: 0;
        &:nth-child(1) {
          grid-row-start: 1;
          grid-column-start: 1;
          grid-row-end: 2;
          grid-column-end: 3;
        }
        &:nth-child(2) {
          grid-row-start: 2;
          grid-column-start: 1;
          grid-row-end: 3;
          grid-column-end: 2;
        }
        &:nth-child(3) {
          grid-row-start: 3;
          grid-column-start: 1;

          grid-row-end: 4;
          grid-column-end: 2;
        }
        &:nth-child(4) {
          grid-row-start: 4;
          grid-column-start: 1;

          grid-row-end: 5;
          grid-column-end: 3;
        }
      }
    }
    &__grid-block-text {
      max-width: unset;
    }
    &__grid-block-img {
      max-width: 256px;
      height: 230px;
    }
    &__grid-block-heading {
      font-size: 20px;
    }
    &__grid-block-body {
      margin-top: 12px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 6px;
    }
  }
  @media (max-width: 475px) {
    &__grid {
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 18px;
      row-gap: 24px;
      &-block {
        border: none;
        padding: 0;
        &:nth-child(2) {
          .about-section__grid-block-img {
            width: 100%;
            max-width: 207px;
            height: 375px;
          }
        }
        &:nth-child(1) {
          grid-row-start: 1;
          grid-column-start: 1;
          grid-row-end: 2;
          grid-column-end: 3;
        }
        &:nth-child(2) {
          grid-row-start: 2;
          grid-column-start: 1;
          grid-row-end: 4;
          grid-column-end: 2;
        }
        &:nth-child(3) {
          grid-row-start: 2;
          grid-column-start: 2;
          grid-row-end: 3;
          grid-column-end: 3;
        }
        &:nth-child(4) {
          grid-row-start: 3;
          grid-column-start: 2;
          grid-row-end: 4;
          grid-column-end: 3;
        }
        &:nth-child(6) {
          grid-row-start: 4;
          grid-column-start: 1;
          grid-row-end: 5;
          grid-column-end: 3;
        }
        &:nth-child(5) {
          grid-row-start: 5;
          grid-column-start: 1;
          grid-row-end: 6;
          grid-column-end: 2;
        }
        &:nth-child(7) {
          grid-row-start: 6;
          grid-column-start: 1;

          grid-row-end: 7;
          grid-column-end: 2;
        }
        &:nth-child(8) {
          grid-row-start: 6;
          grid-column-start: 2;
          grid-row-end: 7;
          grid-column-end: 3;
        }
        &:nth-child(9) {
          grid-row-start: 8;
          grid-column-start: 1;
          grid-row-end: 8;
          grid-column-end: 3;
        }
      }
    }
    &__grid-block-img {
      max-width: 207px;
      height: 155px;
    }
  }
}
