.project-section {
  &__wrapper {
  }

  &__tab-list {
    width: fit-content;
    margin-left: 321px;
    margin-bottom: 48px;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    background-color: #fff;
  }

  &__page-list {
  }

  &__table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 16px));
    gap: 16px;
  }
  &__table-link-wrapper {
    display: inline-block;
    width: 100%;
    height: 411px;
  }

  &__table-cell {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 411px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
      .project-section__table-cell-heading,
      .project-section__table-cell-text,
      .project-section__table-cell-category-list {
        opacity: 1;
        visibility: visible;
      }

      .project-section__table-cell-img {
        transform: scale(1.1);
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transition: $defaultTransitionTime;
      opacity: 0;
      visibility: hidden;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      );
    }
  }

  &__table-cell-heading {
    color: $white;
    margin-bottom: 9px;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    transition: $defaultTransitionTime;
    opacity: 0;
    visibility: hidden;
  }

  &__table-cell-text {
    max-width: 486px;
    margin-bottom: 26.75px;
    color: $white;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 18.15px */
    letter-spacing: -0.495px;
    transition: $defaultTransitionTime;
    opacity: 0;
    visibility: hidden;
  }

  &__table-cell-category-list {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: $defaultTransitionTime;
    opacity: 0;
    visibility: hidden;
  }

  &__table-cell-category-list-link {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    padding: 6px 9px;
    border-radius: 75px;
    background: $lt-grey;
  }

  &__table-cell-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    object-fit: cover;
    object-position: center;
    transition: $defaultTransitionTime;
  }
  &__more-btn {
    max-width: 200px;
    font-size: 15px;
    letter-spacing: -0.3px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 2px;
  }

  &__table-cell-icon {
    display: none;
  }
  &__table-cell-subheading {
    display: none;
  }

  &__heading {
    color: $black;
    font-family: $mainFont;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 46.2px */
    letter-spacing: -0.84px;
    margin-bottom: 60px;
    margin-left: 318px;
    @media (max-width: 1280px) {
      margin-left: 0;
      margin-bottom: 48px;
    }
    @media (max-width: 768px) {
      font-size: 32px;
      margin-bottom: 48px;
    }
    @media (max-width: 568px) {
      font-size: 32px;
      margin-bottom: 40px;
    }
    @media (max-width: 375px) {
      margin-bottom: 32px;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 24px */
      letter-spacing: -0.48px;
      text-transform: uppercase;
    }
  }

  @media (max-width: 1280px) {
    &__tab-list {
      margin: 0;
      width: 100%;
      padding: 48px 0px;
      position: sticky;
      left: 0;
      top: 0;
      z-index: 99;
    }
  }
  @media (max-width: 1024px) {
    &__table {
      row-gap: 48px;
      column-gap: 24px;
    }
    &__table-cell {
      padding: 0;
      height: auto;
      &::after {
        display: none;
      }
      &:hover {
        .project-section__table-cell-img {
          transform: unset;
        }

        .project-section__table-cell-icon {
          transform: rotate(0deg);
        }
      }
    }
    &__table-link-wrapper {
      height: auto;
    }
    &__table-cell-img {
      max-width: 468px;
      height: 310px;
      position: static;
      order: 1;
      margin-bottom: 16px;
    }
    &__table-cell-heading {
      display: none;
    }
    &__table-cell-subheading {
      width: 100%;
      order: 3;
      color: $black;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 19.176px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 21px;
    }
    &__table-cell-category-list {
      margin-bottom: 16px;
      order: 2;
    }
    &__table-cell-text {
      max-width: 95%;
      font-size: 14.915px;
      margin-bottom: 0;
      order: 4;
    }
    &__table-cell-heading,
    &__table-cell-text,
    &__table-cell-category-list {
      opacity: 1;
      visibility: visible;
    }
    &__table-cell-text,
    &__table-cell-heading {
      color: $black;
    }
    &__table-cell-icon {
      margin-right: 6px;
      display: inline-block;
      transform: rotate(45deg);
      transition: $defaultTransitionTime;
    }
  }

  @media (max-width: 768px) {
    &__tab-list {
      padding: 40px 0px;
      border-top: 1.2px solid $lt-grey;
      margin-top: 40px;
    }
    &__table-cell-img {
      max-width: 352px;
      height: 250px;
      margin-bottom: 16px;
    }
    &__table-cell-category-list {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 675px) {
    &__tab-list {
      padding: 24px 0px;
    }
    &__table {
      row-gap: 40px;
      grid-template-columns: 1fr;
    }
    &__table-cell-img {
      max-width: unset;
      height: 320px;
      margin-bottom: 16px;
    }
  }
}

.promo-section--projects {
  @media (max-width: 1280px) {
    .slogan {
      max-width: unset;
    }
    .wrapper {
      padding-top: 108px;
      padding-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    .wrapper {
      // padding-bottom: 40px;
      // border-bottom: 1.2px solid $lt-grey;
    }
  }
}
