.service-section {
  &__wrapper {
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__list-item {
    width: 100%;
    &-link-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      align-items: flex-start;
      padding: 30px 0px;
      border-top: 0.9px solid $lt-grey;
    }
    &:hover {
      .service-section__list-item-img {
        visibility: visible;
        opacity: 1;
      }
      .service-section__list-item-link {
        transform: rotate(45deg);
      }
    }
    &:nth-child(even) {
      .service-section__list-item-img {
        z-index: 2;
      }
    }
    &:nth-child(1) {
      .service-section__list-item-img {
        transform: rotate(-14.774deg);
      }
    }
    &:nth-child(2) {
      .service-section__list-item-img {
        top: -66.75px;
        right: 82.23px;
        transform: rotate(17.951deg);
      }
    }
    &:nth-child(3) {
      .service-section__list-item-img {
        top: -64.63px;
        right: 54.3px;
        transform: rotate(-8.328deg);
      }
    }
    &:nth-child(4) {
      .service-section__list-item-img {
        right: 181.7px;
        top: -60px;
        transform: rotate(-11.146deg);
      }
    }
    &:nth-child(5) {
      .service-section__list-item-img {
        right: 40.23px;
        top: -81.75px;
        transform: rotate(17.951deg);
      }
    }
  }

  &__list-item-count {
    margin-right: 291.75px;
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
    letter-spacing: -0.3px;
  }

  &__list-item-body {
    margin-right: auto;
    max-width: 423px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 25.75px;
  }

  &__list-item-heading {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 30px */
    letter-spacing: -0.3px;
  }

  &__list-item-text {
    color: $black;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 18.15px */
    letter-spacing: -0.495px;
  }

  &__list-item-img {
    position: absolute;
    top: -64.75px;
    right: 206.79px;
    z-index: 1;
    width: 225px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    transition: $defaultTransitionTime;
    opacity: 0;
    visibility: hidden;
  }

  &__list-item-link {
    transition: $defaultTransitionTime;
  }

  @media (max-width: 1280px) {
    &__list-item-count {
      margin-right: 24px;
    }
    &__list-item {
      &:nth-child(1) {
        .service-section__list-item-img {
          transform: rotate(-14.774deg);
          right: 76.78999999999999px;
        }
      }
      &:nth-child(2) {
        .service-section__list-item-img {
          top: -66.75px;
          right: 54.230000000000004px;
          transform: rotate(17.951deg);
        }
      }
      &:nth-child(3) {
        .service-section__list-item-img {
          top: -64.63px;
          right: 42.3px;
          transform: rotate(-8.328deg);
        }
      }
      &:nth-child(4) {
        .service-section__list-item-img {
          right: 120.7px;
          top: -60px;
          transform: rotate(-11.146deg);
        }
      }
      &:nth-child(5) {
        .service-section__list-item-img {
          right: 44.23px;
          top: -81.75px;
          transform: rotate(17.951deg);
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__list-item {
      &-heading {
        font-size: 32px;
      }
      &-link-wrapper {
        padding: 32px 0px;
      }
      &-img {
        max-width: 340px;
        height: 240px;
        position: static;
        visibility: visible;
        opacity: 1;
        transform: unset !important;
        order: 1;
        margin-right: 70px;
      }
      &-body {
        order: 2;
        margin-top: auto;
      }
      &-count {
        position: absolute;
        margin: 0;
        left: 294px;
        top: 32px;
      }
      &-link {
        position: absolute;
        right: 0;
        top: 32px;
      }
    }
  }

  @media (max-width: 575px) {
    &__list-item {
      &-link-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
      }
      &-heading {
        font-size: 20px;
      }
      &-text {
        font-size: 16px;
      }
      &-img {
        max-width: unset;
        width: 100%;
        height: 240px;
        margin-bottom: 24px;
      }
      &-body {
        max-width: unset;
        margin: 0;
        padding-left: 44px;
        gap: 24px;
      }
      &-count {
        left: 0;
        top: 297px;
      }
      &-link {
        top: 297px;
        right: 0;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
