@mixin dash($color) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    max-width: 0%;
    height: 1.5px;
    background-color: $color;
    transition: $defaultTransitionTime;
  }
  &:hover::after {
    max-width: 100%;
  }
}

@mixin blockFade($color) {
  position: relative;
  transition: $defaultTransitionTime;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $color;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 0%;
    transition: $defaultTransitionTime;
    z-index: -1;
  }
  &:hover::after {
    max-width: 100%;
  }
}
