.promo-section {
  margin-bottom: 0;
  &__wrapper {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 67.5px;
    padding-bottom: 122px;
  }

  @media (max-width: 1280px) {
    &__wrapper {
      padding-top: 108px;
      padding-bottom: 112px;
    }
  }
  @media (max-width: 920px) {
    &__wrapper {
      align-items: flex-start;
      padding-top: 106px;
      padding-bottom: 119px;
    }
  }
  @media (max-width: 675px) {
    &__wrapper {
      padding-top: 100px;
      padding-bottom: 80px;
    }
  }
  @media (max-width: 475px) {
    &__wrapper {
      padding-bottom: 64px;
      padding-top: 50px;
    }
  }
}

.project-section {
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 25.5% 73.7%;
  }

  &__sidebar {
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 35px;
    padding: 28px;
    padding-left: 0;
    z-index: 5;
    border-right: 1.2px solid $lt-grey;
  }
  &__btn {
    width: 100%;
  }

  &__mobile-btn {
    display: none;
  }

  @media (max-width: 1280px) {
    &__sidebar {
      border: none;
      border-bottom: 1.2px solid $lt-grey;
      padding-top: 32px;
      padding-bottom: 32px;
      background-color: $white;
    }
    &__hgroup {
      margin-bottom: 56px - 32px;
    }
    &__main-link {
      display: none;
    }
    &__content {
      grid-template-columns: 1fr;
    }
    &__tab-list {
      flex-direction: row;
      align-items: center;
      gap: 24px;
    }
    &__btn {
      display: none;
    }
    &__mobile-btn {
      width: 100%;
      max-width: 385px;
      display: flex;
      margin-top: 56px;
      padding: 25px;
      .btn__label {
        // font-size: 22px;
        // font-style: normal;
        // font-weight: 400;
        // line-height: 100%;
        // letter-spacing: -0.44px;
        // text-transform: uppercase;
      }
    }
  }

  @media (max-width: 920px) {
    &__sidebar {
      padding: 24px 0px;
    }
  }
  @media (max-width: 675px) {
    &__hgroup {
      margin-bottom: 16px;
    }
    &__sidebar {
      padding: 16px 0px;
    }
    &__mobile-btn {
      margin-top: 32px;
      padding: 16px 40px;
      max-width: usnet;
      width: fit-content;
      font-size: 16px;
      letter-spacing: -0.32px;
      border-radius: 34px;
    }
  }
}
.page-list {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__page {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100%);
    transition: $defaultTransitionTime + 0.7s cubic-bezier(0.47, -0.44, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    &--active {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translateX(0%);
    }
  }
}

.grid-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 509px;
  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: 1.2px solid $lt-grey;

    &--reverse {
      .grid-list__col:first-child {
        order: 2;
        border-right: none;
      }
      .grid-list__col:last-child {
        order: 1;
        border-right: 1.2px solid $lt-grey;
      }
      @media (max-width: 1280px) {
        .grid-list__col:first-child {
          order: 1;
          border-right: 1.2px solid $lt-grey;
        }
        .grid-list__col:last-child {
          order: 2;
          border-right: none;
        }
      }
    }
  }

  &__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 28px;
    &:first-child {
      border-right: 1.2px solid $lt-grey;
    }
  }

  &__col-header {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      .grid-list__col-link {
        transform: rotate(0deg);
      }
    }
  }

  &__col-heading {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 27px */
    letter-spacing: -0.27px;
  }
  &__col-link {
    transform: rotate(45deg);
    transition: $defaultTransitionTime;
    padding-right: 4px;
    svg {
      width: 15.75px;
      height: 15.75px;
    }
  }

  &__col-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__col-text {
    max-width: 313px;
    color: $black;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 18.15px */
    letter-spacing: -0.495px;
  }

  &__col-footer {
    margin-top: auto;
  }

  &__col-categorylist {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__col-categorylist-item {
  }

  &__category {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16.5px */
    letter-spacing: -0.33px;
    text-transform: uppercase;
  }

  &__col-img {
    width: 100%;
    height: 442px;
    object-fit: cover;
    object-position: center;
    margin: auto;
  }

  @media (max-width: 1280px) {
    &__row {
      border: 1.2px solid $lt-grey;
      border-top: none;
    }
    &__col:first-child {
      order: 2;
      border-right: none;
    }
    &__col:last-child {
      order: 1;
      border-right: 1.2px solid $lt-grey;
    }
  }

  @media (max-width: 920px) {
    grid-template-rows: 379px;
    &__col {
      padding: 24px;
    }
    &__col-img {
      height: 332px;
    }
    &__col-heading {
      font-size: 20.753px;
    }
    &__col-text {
      font-size: 12px;
    }
  }

  @media (max-width: 675px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 32px;
    &__row {
      display: flex;
      gap: 8px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      border: none;
      &--reverse {
        flex-direction: column-reverse;
        .grid-list__col:first-child {
          order: unset;
        }
        .grid-list__col:last-child {
          order: unset;
        }
      }
    }
    &__col {
      padding: 0;
      border: none;
      &:last-child {
        border: none;
      }
      &-img {
        height: 320px;
      }
      &-header {
        order: 2;
        margin-bottom: 21px;
      }
      &-body {
        order: 3;
      }

      &-footer {
        margin-bottom: 24px;
        order: 1;
      }
      &-text {
        max-width: unset;
        font-size: 14.915px;
      }
    }
    &__col-img {
      height: 332px;
    }
    &__col-heading {
      font-size: 20.753px;
    }
    &__col-text {
      font-size: 14px;
    }
    &__category {
      display: inline-block;
      padding: 6px 12px;
      font-size: 12px;
      border-radius: 100px;
      background: $lt-grey;
    }
  }

  @media (max-width: 475px) {
    &__col-img {
      height: 320px;
    }
    &__category {
      padding: 8px 12px;
      font-size: 12px;
    }
    &__col-footer {
    }
  }
}

.offers-section {
  &__content {
    @extend .project-section__content;
  }

  &__sidebar {
    @extend .project-section__sidebar;
    padding-top: 33px;
    border-right: none;
  }
  &__slogan {
    margin-bottom: 77px;
  }

  &__body {
    width: 100%;
    padding: 25px;
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    border-left: 1.2px solid $lt-grey;
  }
  &__btn {
    width: 100%;
  }
  &__mobile-btn {
    @extend .project-section__mobile-btn;
  }

  @media (max-width: 1280px) {
    &__btn {
      display: none;
    }
    &__sidebar {
      display: none;
    }
    &__body {
      border: none;
      padding: 0;
    }
    &__slogan {
      margin-bottom: 49px;
    }
    // &__mobile-btn {
    //   @extend;
    // }
  }

  @media (max-width: 675px) {
    &__slogan {
      margin-top: 12px;
      margin-bottom: 48px;
      max-width: unset;
      font-size: 16px;
      letter-spacing: -0.48px;
    }
  }
  @media (max-width: 475px) {
    &__main-link {
      display: none;
    }
    &__slogan {
      margin-top: 8px;
      margin-bottom: 32px;
    }
  }
}

.result-section {
  padding-top: 120px;
  padding-bottom: 72px;
  background-color: $black;

  &__heading {
    width: 100%;
    max-width: 907px;
    margin-left: auto;
    margin-bottom: 30px;
    color: $white;
    font-family: $mainFont;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 50.4px */
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    border-top: 1.2px solid #474747;
  }

  &__sidebar {
    @extend .offers-section__sidebar;
    padding-top: 29px;
    padding-right: 29px;
  }
  &__btn {
    padding: 15px 55px;
  }
  &__mobile-btn {
    @extend .project-section__mobile-btn;
  }

  @media (max-width: 1280px) {
    padding-top: 72px;
    &__heading {
      max-width: 568px;
      margin: 0;
      margin-right: auto;
      margin-bottom: 56px;
    }
    &__content,
    &__body {
      width: 100%;
      border: none;
    }
  }

  @media (max-width: 920px) {
    padding-bottom: 62px;
    &__heading {
      max-width: unset;
      margin-right: 0;
      font-size: 38px;
      margin-bottom: 48px;
    }
  }
  @media (max-width: 675px) {
    padding-top: 56px;

    &__heading {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 120%; /* 28.8px */
      max-width: unset;
    }
  }
  @media (max-width: 475px) {
    padding-top: 72px;
    padding-bottom: 52px;
  }
}

.request-section {
  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  &__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    text-transform: none;
    margin-bottom: 56px;
    color: $black;
    font-family: $mainFont;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 50.4px */
    letter-spacing: -0.42px;
  }

  &__contacts-group {
    margin-bottom: 332px;
  }

  &__form {
    margin-top: 10px;
  }

  @media (max-width: 1280px) {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: 56px;
    }
    &__contacts-group,
    &__info-group {
      display: none;
    }
    &__heading {
      margin: 0;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 67.2px */
      letter-spacing: -0.56px;
    }
  }
  @media (max-width: 920px) {
    &__heading {
      font-size: 38px;
    }
  }
  @media (max-width: 675px) {
    &__wrapper {
    }
    &__heading {
      max-width: 351px;
      font-size: 24px;
      line-height: 120%; /* 28.8px */
    }
    &__content {
      gap: 32px;
    }
  }
}
